# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.vercel
_pycache_
.DS_Store
*.pyc
site-packages
venv
*.gz
.vscode
