app = "deveric-blog"
primary_region = "iad"

[build]

[env]
  PORT = "8000"
  DJANGO_SETTINGS_MODULE = "blog.settings"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/admin/login/"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[mounts]
  source = "blog_data"
  destination = "/data"

[deploy]
  release_command = "python manage.py migrate --noinput"
