asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
cryptography==43.0.0
Django==5.1
dj-database-url==2.1.0
gunicorn==21.2.0
idna==3.7
Pillow
psycopg2-binary==2.9.9
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.4.0
markdown==3.5.1
