asgiref==3.8.1
azure-core==1.30.2
azure-identity==1.17.1
azure-storage-blob==12.22.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
Django==5.1
django-storages==1.14.4
django-storages[azure]
idna==3.7
isodate==0.6.1
Pillow
psycopg==3.2.1
psycopg2-binary==2.9.9
pycparser==2.22
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.4.0
