asgiref
azure-core
azure-identity
azure-storage-blob
certifi
cffi
charset-normalizer
cryptography
Django
django-storages
django-storages[azure]
idna
isodate
Pillow
psycopg
psycopg2-binary
pycparser
requests
six
sqlparse
typing_extensions
urllib3
whitenoise
