{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Eric's Blog - Deveric"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{% static 'avatar.jpg' %}"/>
        <meta property="og:url" content="https://deveric-blog.azurewebsites.com/"/>
        <meta property="og:description" content="Eric's Blog - Sharing insights on AI, ML, Cybersecurity, Blockchain, and more."/>
        <meta name="robots" content="index, follow"/>
        <link rel="icon" href="{% static 'favicon.ico' %}"/>
        <title>{% block title %}Deveric{% endblock %}</title>
        {% block css_files %}{% endblock %}

        <!-- Custom styles for this template -->
        <link href="static/base.css" rel="stylesheet">
        <link href="{% static 'home.css' %}" rel="stylesheet">
         
        {% comment %} {% block js_files %}{% endblock %}  {% endcomment %}
    </head>
    <body>
        <header id='main-navigation'>
            <h1><a href="{% url 'home' %}">Home</a></h1>
            <nav>
                <a href="{% url 'posts' %}">All Posts</a>
                &nbsp;|&nbsp;
                <a href="{% url 'saved-posts' %}">Saved Posts</a>
                &nbsp;|&nbsp;
                <a href="https://developer.ericgitangu.com">My Website</a>
            </nav>
        </header>
        {% block content %}{% endblock %}      
        {% comment %} {% block footer %}{% endblock %}
        {% block scripts %}{% endblock %} {% endcomment %}
    </body>
 
</html>